################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.idea
/.vs
/bot_api/__pycache__
/server/__pycache__
/chieri_bot
/__pycache__
/server/temp
/bot_api/log
/ycm
